@using CV.Models.Entity
@model List<Proje>
@{
    ViewBag.Title = "AnaProje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2 style="color:cornflowerblue;">Proje Bölümü</h2>
<br />

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>RESİM YOLU</th>
        <th>RESİM</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var ccc in Model)
    {
<tr>
    <td>
        @ccc.ID
    </td>
    <td>
        @ccc.Resim
    </td>
    <td>
        <img src="~/CV/assets/img/@ccc.Resim" height="70" width="90" alt="@ccc.Resim">
    </td>
    <td>
        @Html.ActionLink("Sil", "ProjeSil", new { ID = ccc.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz?')" })
    </td>
    <td>
        <a href="~/Yonetim/ProjeGetir/@ccc.ID" class="btn btn-primary">Güncelle</a>
    </td>
</tr>
    }
</table>
<a href="/Yonetim/YeniProje" class="btn btn-info">Yeni Proje Ekle</a>
<hr />
